* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************************
* Selettori TAG
************************************************/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* Set font */

h1 { font-size: 77px;}

h2 { font-size: 40px;}

h3 { font-size: 25px;}

h4, h5 { font-size: 16px;}

p { font-size: 16px;}


/* layout in row & column */

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col"]{ float: left;}


.col-1_9 { width: calc(100% / 9);}

.col-2_9 { width: calc(100% / 9 * 2);}

.col-3_9 { width: calc(100% / 9 * 3); }

.col-4_9 { width: calc(100% / 9 * 4); }

.col-5_9 { width: calc(100% / 9 * 5); }

.col-6_9 { width: calc(100% / 9 * 6); }


/************************************************
* Classi layout
************************************************/
.container-large {
  max-width: 1367px;
  width: 100%;
  margin: auto
}

.container {
  max-width: 1010px;
  width: 100%;
  margin: auto
}



/************************************************
* Classi Utilities
************************************************/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/************************************************
* Sezioni
************************************************/


.navbar {position: fixed;
         top: 0;
         width: 100%;
         border:1px solid black; /* PROVVISORIO */
         line-height: 50px;
         padding: 10px 0;
        }

.half-navbar {display: inline-block;}

.half-navbar ul li { display: inline-block;}

.half-navbar ul li a { text-decoration: none;
                        color: black;
                        padding: 0 10px;}

                        
.half-navbar .btn-blue{
  color:white;
  background-color: #0061FF;
  padding: 5px 25px;
  margin: 25px 20px 25px 0;
  }

.logo{ vertical-align: sub;}

.half-navbar.right  {width: 49%;
                     text-align: right;
}

.half-navbar.left {width: 50% ;
                   text-align: left;}

