* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/************************************************
* Selettori TAG
************************************************/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}


/* Set font */

h1 { font-size: 77px;}

h2 { font-size: 40px;}

h3 { font-size: 25px;}

h4, h5 { font-size: 16px;}

p { font-size: 16px;}

.small-font {font-size: 14px;}


/************************************************
* Classi layout
************************************************/

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"]{ float: left;}

.col-1_9 {width: calc(100% / 9);}

.col-2_9 {width: calc(100% / 9 * 2);}

.col-3_9 {width: calc(100% / 9 * 3);}

.col-4_9 {width: calc(100% / 9 * 4);}

.col-5_9 {width: calc(100% / 9 * 5);}

.col-6_9 {width: calc(100% / 9 * 6);}

/* In questo caso è da cambiare h1 
.container-large {
  max-width: 75vw;
  width: 100%;
  margin: auto;
} */

.container-large {
  max-width: 1367px;
  width: 100%;
  margin: auto;
} 

.container {
  max-width: 1010px;
  width: 100%;
  margin: auto;
}

.bg-hero {padding-top: 50px;}

/************************************************
* Classi Utilities
************************************************/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/************************************************
* Header
************************************************/

/* barnav */

.navbar {position: fixed;
         top: 0;
         min-width: 100%;
         display: inline-block;
         background-color: #ffffff;
         line-height: 50px;
         padding: 10px 0;
         z-index: 99;
         box-shadow: 5px 5px 20px grey;
        }
 
.half-navbar {display: inline-block;} 

ul li { display: inline-block;}

.link-nav { text-decoration: none;
            color: black;
            padding: 0 10px;}

.logo img{ vertical-align: sub;}                       

.bottone a {text-decoration: none;}

.btn-blue{
  text-decoration: none;    
  color:white;
  background-color: #0061FF;
  padding: 5px 25px;
  } 

.left {min-width:48%;
         text-align: left;}

.right  {min-width: 50%;
        text-align: right;}

/* hero */

.bg-hero{ background-color: #b4d0e7; }

.box-hero { position: relative;
            top:80px;
            padding-top: 100px;
            
           }

.img-banner { width: 100%; }

.pad50-banner { padding-top: 50px;}

.pad10-banner {padding-top: 10px;}

.test-banner, 
.immagine-contein {padding-top: 100px;}



/************************************************
* Main Piani Business
************************************************/

.piano_Business { padding-top: 200px;}

.fatturazione { padding-top:50px;
                padding-left:20px;}

.fatturazione label { padding-right:50px;
                       }

.opzioni_Busines { margin-top: 30px;           
                 }

.opzioni { border:1px solid grey;
           min-height: 1000px;
           max-width: 90%;
           margin:auto;}

.opzioni-simbol { line-height: 48px;
                  text-align: center;
                  border-bottom: 1px solid grey;}

.opzioni-title_cost { padding:50px 30px;}

.opzioni-title_cost h3 { padding-bottom: 20px;}

.opzioni-time{ color:grey;}

.opzioni-list li{padding-top: 15px;}

.opzioni-oppure { padding:20px 30px;
                  display: inline-flex;
                }

.opzioni-oppure .line{ padding-bottom: 10px;
                       border-bottom: 1px solid grey;}

.opzioni-second-list {padding: 20px 30px;}

.opzioni-list span::before{ content: "\2713";
                            color:#0061FF;
                            font-weight: bold;
                            padding-right: 10px;
                          }